
* {

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#grachelle {

	width: 100%;
	height: 100%;
	/* display: flex; */
	margin: auto;

}

#profile-button {
	border-radius: 50%;
	padding: 10px 15px;
}

#view-portfolio {
	width: 30%;
	height: 30%;
}

#top-header {
	margin-top: 0px;
	background-color: #244346;
}

#portfolio {

	color: black;
}

#juanNav:visited {
	color: #1b7881;
}

#juanNav:hover {
	color: #051c1e;
}

#footer {

	background-color: #244346;
}

/* landing section */

#landing {

	background: 
	linear-gradient(
		rgba(20, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)

	),

	url(https://gitlab.com/tuitt/students/batch63/sara-ang/capstone-project-resources/-/raw/master/%E2%80%94Pngtree%E2%80%94blue%20lines%20futuristic%20technology%20background_955818.jpg)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}

/* contact */

#contact {


	background: 
	linear-gradient(
		rgba(20, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)

	),

	url(https://gitlab.com/tuitt/students/batch63/sara-ang/capstone-project-resources/-/raw/master/%E2%80%94Pngtree%E2%80%94blue%20lines%20futuristic%20technology%20background_955818.jpg)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}



/* Google Map */

#gmap {

	width: 80%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
}